<div class="login-wrapper">
  <form class="login">
    <label class="title">
        <h3 class="welcome">Welcome to</h3>
        Dummy Register Page
    </label>
    <section class="form-block">
      <div class="form-group">
        <label for="formFields_1">Email</label>
        <input type="text" id="formFields_1" placeholder="Email" size="35">
      </div>
      <div class="form-group">
        <label for="formFields_7">Password</label>
        <input type="password" id="formFields_7" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="formFields_11">Date of Birth</label>
        <input type="date" id="formFields_11" size="35">
      </div>
      <button type="submit" class="btn btn-primary" (click)="goHome()">Go Home</button>
    </section>
  </form>
</div>